<h2> Choose your icecream!</h2>
<% @icecreams.each do |icecream| %>
   <div>
   <%= icecream.flavor %>  £<%= icecream.price %>
   </div>

   <%= form_tag('/add_ice_cream', method:'post') do %>
     <%= hidden_field_tag :id, icecream.id %>
     <%= number_field_tag :quantity, "1", in: 1...10 %>
     <%= submit_tag 'Add to Cart' %>
   <% end %>

<% end %>
 