<br><br>

<% @cart.map do |item_hash| %>
    <% ice_cream = IceCream.find(item_hash["ice_cream_id"]) %>
    <h4> <%=ice_cream.flavor%> x <%= item_hash["quantity"]%> </h4>
    <h4> £<%=ice_cream.price * item_hash["quantity"].to_i %> </h4>
    <%= button_to 'remove from cart', delete_item_path, params: {item_id: item_hash["item_id"]}, method: :delete%> 
<% end %>

<%= button_to 'checkout', checkout_path, method: :get%> 