<!DOCTYPE html>
<html>
  <head>
    <title>Icecreampart2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
  <% if logged_in?%> 
    Hello <%= @current_user.name%>! <%=link_to 'Log out', logout_path {method:'delete'}%> 
    <%= link_to 'See all of your previous orders', orders_path %> 
    <%= link_to "My cart", '/sessions/cart'%>  
    <%end%> 

    <% if flash[:errors]%> 
      <% flash[:errors].each do |error| %> 
        <%=error%>
        <% end %> 
      <%end%> 
        <% if flash[:notice]%>
          <%=notice%>  
        
      <%end%> 
      
    <%= yield %>
  </body>
</html>
