<!DOCTYPE html>
<html>
  <head>
    <title>Icecreampart2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
  <% if logged_in?%> 
    Hello <%= @current_user.name%>! <button class= "w3-button w3-white"> <%=link_to 'Log out', logout_path {method:'delete'}%></button>
    <button class= "w3-button w3-white"> <%= link_to 'All Ice Creams', ice_creams_path %></button>
    <button class= "w3-button w3-white"> <%= link_to 'Your previous orders', orders_path %> </button>

    <button class= "w3-button w3-white"> <%= link_to 'What other people have ordered', all_orders_path %> </button>
    <button class= "w3-button w3-white"> <%= link_to 'My cart', cart_path %>  </button>
    
    <%else%> 
     <font color="white"> <%=link_to "Homepage", homepage_path%> </font>
    
    <%end%> 
    <br>

    <% if flash[:errors]%> 
      <% flash[:errors].each do |error| %> 
        <h2> <font color="white"> <%=error%> </font></h2>
        <% end %> 
      <%end%> 
        <% if flash[:notice]%>
          <h2> <font color="white"> <%=notice%> </font> </h2> 
        
      <%end%> 
      
    <%= yield %>
  </body>
</html>
